.services-section {
  padding: 2rem 0;
  text-align: center;
}

.services-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 1rem;
}

.service-item {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.service-item h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #007bff;
}

.service-item p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.7;
}